language: python
python:
- '3.6'
- '3.7'
- '3.8'
install:
- pip install -U -r requirements.txt
- pip install -U -r test_requirements.txt
- pip install --no-deps -e .
script:
- pytest --cov=src/ --cov-report term-missing --cov-report term:skip-covered --cov-config=tox.ini
  --cov-fail-under=100 -s -r .
- flake8 src
- cd docs; make html; cd ..;
- touch ./docs/_build/html/.nojekyll
# only run the validate-version-bump.sh script on PR builds against master, since those have access to a "master" reference to git show the version
# following https://docs.travis-ci.com/user/environment-variables/#convenience-variables
# the pull request isn't set to true if its a PR; its just set to false if its not.
- if [ "$TRAVIS_PULL_REQUEST" != "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
  bash ./scripts/validate-version-bump.sh; fi
deploy:
- provider: pages
  skip_cleanup: true
  github_token: "$GH_SECRET_TOKEN"
  keep_history: true
  local_dir: "./docs/_build/html/"
  on:
    tags: true
    python: '3.6' # only need this to run once
- provider: pypi
  user: CitrineInformatics
  password: "$PYPI_PASSWORD"
  distributions: sdist bdist_wheel
  skip_existing: true
  on:
    tags: true
env:
  global:
  - secure: mrgwW/6fiEBrkTNmKIBraJP4JS0/3ANqKU2Wr6R2HH8M93h6VIoWgyWFqxfVZW2+0EqF42DBUxeDGeVNOKWSLYCUjITGAStbsbdysBUqyvHDP/uXEmHL7ijpziLnRT+UvWjYK1QFjO8SPOMx9TJoexFw0mQIfYUdOr42JWh6Dl0sZAEet5zlkvcXj1UCHqZX4uclQQiUedvFQPNM/a2Xit0bPh+vg6Q/4tnP2iUTCRNpff1b3TPYXTcLH31YCqVH6/AYG72LSEclYiju7ayVIyki4aDSIP+h5f0EIN9880fyeCh5cqTLomVFULpkCECL3Quv2EbijwOSWuaTwRFD8k/A5oi4h5SZDs0Ufb/mrPeLYCxcDP3lttB2Tqo/ZWQyKMY/idH9reDd2CWy3vJeCHCD9mOwkB52GqP+OdvU6LBSQp5P/vaC/Snq180TK3sRN+O+06tz6MFk+PSHMtNtDzgXkjwkfZiQea3SNhG6kf0LUHbbsZQfMEnHcy/w138rLTZNMwugc18zYplbqpJwjzZA0kcNDIehmLKbKOsIB/43ABD96bK7ymzLXZC0WGjPEVrjjS6qGrSvTM8IF9uDzGcf/sY1Yj0YjA1UNTGVQ0NbiFaJhqtZvK+c6IOf+N/c7zKldQah0J8mgDsslpnfaf/XNkiblz2dMUdxhg4fOiQ=
  - secure: RjszheIZe8p5To/gfDkBmf2Ic8H8qa+Pw9C8xpkHmjNuyeOxbY4iVSm+HeIUy/QNWeVtNviIBeRWjiXlT8B2hVBtRSzxhuT/LARhf/v/epQtnvnX/2jRIzytnojvD222gwHrXh+lMG5+he9EaPPm8tHE2UpfWkFTnbMSMBmvoHNmi3fvQ2ufPTRBlg8SIoZb4cgWGhGxalRoZ1JJ2eNjn/TPueEsbANXKkmaPfMuU8mRwvQROTVjZlGrbhVeBoS8koB0ziGMTM2MgdkCEMUJtj3GhoW6bSN7sclbcbWSeGLnq6jOcLglU+ZQx02aKh9CSC7UEEt5uDHbcjCPBYYNzwFc/xPASqYZVdXR9eBITe3dewzgtJu+KuPGVeSKXIciDZBz15HFscy6XSl6vMx0/StgZRXO3lGYO/on6Bnb8g7JMHOrwDGWMbQAho6Jv40qzC33WYIxhUIlayi0XFmxKzj8FKTAlb1lX6XSuywd0lvobGePF0uxT9NU/9/rjFWgHYUHKz5yuXT8N4m50FKedJZJBRE8qo3KfEUZyREYA73qk3iIw3ChDbtbKpTms/ZddRQGTRguYP/HAwv8b2BatAoX6gaSlGx9rvufmYRRxMyWFNmWupWHqvNpRzlhb/dNWRa7zWjGfzXGC1FaOiiLkIGqBlqX309NfVLOLhZT6O8=
  - secure: IpTOU5pkSXbvhyKbJf+P8dogy93y1wRZMDoG+OFHlyo8IVxWJQC0AGF3m5SO7tt1JTO4xn7tl0EKd1S46zNYu8+W5XaLbUGzeRBgy/OF1ZSCuyxPg80+QZ6VrfcrHx/PK1umpu/Al5PHe+wg4wqJt5cRtDCqRdIU/YDE6xqxdpUX+aT4oN6sc7sKkz3AO5a7X4iva78pDr1cdOBl30lVmepKbwgKGPHfj9mjXRYOJN/ATNF/v9h8KzjLjHH5rcTGAjlKslpeT2wlv9QjTDZYLvc2g/An2yEug3fuOSGLezoJIWzYt5Uc6KIAfMBa2HRg0L9DtACv+0zHDlIhkJAcFeSwJjrS1XK2PxW5P84KChTfq9m9tHtSCDB+72zxzx1wIiMAhiyW4i0i/NMTiYDxtQbtyix06NQUkAgcKPxELd2kmy5gHigE84+aRGV7C3Hj9957FV4otDKBzUCx+MHaLGVfSN/mgnKSzza3ZANTAgoZGX30JzHvVEbXowMQSizk5z0gyqLlXsB4PaNkA3O7ehAFSzH92c7Ua4fBzAh8zqbwDOD982p7gmfq25jjXpLETk301+ju7553XLi9kFHE544bDx94ziemN4Ytu4r+XWYw9YlsK3iyJhZdTdCXzT6gHN9iIXHT1FMkY7RA+pWWJtsGbwhMmnZGdgWYYilE5Yg=
