language: python
dist: bionic
python:
  - '3.7'
  - '3.8'
  - '3.9'
  - '3.10'
  - '3.11'
env:
  - UPGRADES="-U gemd pandas arrow urllib3 requests pytest boto3"
  - UPGRADES=""
install:
  - pip install --only-binary ':all:' -r requirements.txt
  - pip install --only-binary ':all:' -r test_requirements.txt
  - pip install --only-binary ':all:' $UPGRADES -e .
script:
  - bash scripts/run_tests.sh
  - test "$UPGRADES" != "" || test $TRAVIS_PYTHON_VERSION != "3.10" || bash scripts/build_docs.sh
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: "$GH_SECRET_TOKEN"
    keep_history: true
    local_dir: "./docs/_build/html/"
    on:
      tags: true
      python: '3.10' # only need this to run once
      env: PIP_UPDATE=""
  - provider: pypi
    user: CitrineInformatics
    password: "$PYPI_PASSWORD"
    distributions: sdist bdist_wheel
    skip_existing: true
    on:
      tags: true
