language: python
python:
  - "3.5"
  - "3.6"
install:
  - pip install -U -r requirements.txt
  - pip install -U -r test_requirements.txt
  - pip install --no-deps -e .
script:
  - pytest --flake8 --cov=src/ --cov-report term-missing --cov-report term:skip-covered --cov-fail-under=83 -s -r .
