[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.3.1"
pylint = "*"
flake8 = "==3.7.8"
flake8-docstrings = "==1.3.1"
pydocstyle = "==3.0.0"
sphinxcontrib-apidoc = "*"
factory-boy = "==2.12.0"
requests-mock = "==1.7.0"
Sphinx = "*"
mock = "==3.0.5"
pytz = "==2019.3"
pytest-cov = "==2.7.1"
pytest-flake8 = "==1.0.4"
strip-hints = "==0.1.8"
pandas = "==0.25.3"

[packages]
citrine = {editable = true,path = "."}
gemd = "==0.16.2"
boto3 = "==1.16.62"
botocore = "==1.19.62"
deprecation = "==2.0.7"
requests = "==2.22.0"
arrow = "==0.15.4"
strip-hints = "==0.1.8"
sphinxcontrib-apidoc = "==0.3.0"
urllib3 = "==1.25.7"
PyJWT = "==1.7.1"
Sphinx = "==2.2.0"
