[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
flake8 = "*"
flake8-docstrings = "*"
pydocstyle = "==3.0.0"
sphinx = "*"
sphinxcontrib-apidoc = "*"

[packages]
citrine = {editable = true,path = "."}
taurus = {git = "https://github.com/CitrineInformatics/taurus.git", editable = true, ref="develop"}

