[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
flake8 = "*"
flake8-docstrings = "*"
pydocstyle = "==3.0.0"
sphinx = "*"
sphinxcontrib-apidoc = "*"
factory-boy = "*"
requests-mock = "*"

[packages]
citrine = {editable = true,path = "."}
gemd = {git = "https://github.com/CitrineInformatics/gemd-python.git", editable = true, ref="master"}
boto3 = "*"
botocore = "*"
deprecation = "*"
