derp==0.1.1
factory-boy==3.3.3
flake8==7.0.0
flake8-docstrings==1.7.0
mock==5.2.0
pytest==8.4.2
pytest-cov==7.0.0
requests-mock==1.12.1
pandas>=2.0.3,<3

# faker is a dependency of factory-boy, but factory-boy sets a very low floor
# for the supported version. There's a long-resolved bug revealed by using the
# "enum" provider which is solved by upgrading faker. This ensures the latest
# supported is installed.
faker
