derp==0.1.1
factory-boy==3.3.0
flake8==7.0.0
flake8-docstrings==1.7.0
mock==5.1.0
pytest==7.4.4
pytest-cov==4.1.0
pytz==2023.3.post1
requests-mock==1.11.0
sphinx==7.1.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-apidoc==0.4.0
