name: PR Checks

on:
  pull_request:
    branches:
      - main
      - 'release/**'

jobs:
  pr-checks:
    uses: CitrineInformatics/common-gh-actions/.github/workflows/repo-checks.yml@v1
    with:
      src: src/citrine

  e2e-tests:
    needs: pr-checks
    permissions:
      checks: write
      contents: read
      id-token: write
    # NOTE: using a branch SHA during testing
    uses: CitrineInformatics/common-gh-actions/.github/workflows/repo-checks.yml@feature/PNE-7587-provide-devkit-e2es
    with:
      CITRINE_PYTHON_VERSION: ${{ github.event.pull_request.head.sha }}
    secrets:
      DEVKIT_APP_ID: ${{ secrets.DEVKIT_APP_ID }}
      DEVKIT_APP_PRIVATE_KEY: ${{ secrets.DEVKIT_APP_PRIVATE_KEY }}
